/* b:commandButton en b:button */
.btn.save{
    margin-right: 2em;
}
.btn.cancel{
    margin-left: 2em;
}
.btn.new{
    
}
/* filter formgroup */
.filterform{
    background-color: aliceblue;
    padding: 1em
}
.filterform .label {
    background-color: lightgray;
}